{# menu.html.twig #}
<ul class="main-menu">
    <li><a href="#">{{ 'sfbcn.links.home'|trans }}</a></li>
    <li><a href="#">{{ 'sfbcn.links.news'|trans }}</a></li>
    <li><a href="#">{{ 'sfbcn.links.events'|trans }}</a></li>
    <li><a href="#">{{ 'sfbcn.links.about'|trans }}</a></li>
    <li><a href="#">{{ 'sfbcn.links.contact'|trans }}</a></li>
</ul>
